@model MyEvent.Models.DB.Event

@{
    int i = 1;
}

<style>
    .content {
        background: #272626;
    }

    body {
        overflow-y: scroll;
        color: white;
    }

    h1 {
        text-align: center;
        margin: 10px auto 0 auto;
    }

    .create_event_event_detail button {
        display: inline-block;
        background-color: #707070;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
    }

    .create_event_event_detail button:hover {
        background-color: #505050;
    }

    .create_event_event_detail button.btn-Delete {
        background-color: red;
    }

    .create_event_event_detail button.btn-Delete:hover {
        background-color: #c90000;
    }

    .create_event_picture_container > img{
        height: 300px;
        object-fit: cover;
        margin: 10px auto;
    }

    .create_event_event_detail {
        margin-left: 50px;
    }

    .create_event-participants {
        margin-bottom: 10px;
        
    }



    /* Form ----------------------------------------------------------------------- */

    label > * {
        vertical-align: text-top;
    }

    .form {
        display: grid;
        grid: auto / auto auto auto;
        gap: 5px;
        place-content: start;
        place-items: center start;
    }

    .form > label:not(:has(*)) {
        background: #666;
        font-weight: bold;
        padding: 5px;
        place-self: stretch;
        border-radius: 1px;
    }

    .form > section,
    .validation-summary-valid,
    .validation-summary-errors {
        grid-column: 1 / -1;
    }

    .validation-summary-valid ul,
    .validation-summary-errors ul {
        margin: 0;
    }

    .field-validation-error,
    .validation-summary-errors {
        color: red;
    }

</style>

<div class="create_event_event_detail" style="display: block; flex:none; width:100%">
    <div class="create_event_picture_container">
        <img src=@Model.ImageUrl />
    </div>
    <h1>@Model.Title</h1>
    <form class="form">
        <label>Id</label>
        <span>@Model.Id</span>
        <br>

        <label>Date</label>
        <span>@Model.Detail.Date.ToString("yyyy-MM-dd")</span>
        <br>

        <label>Time</label>
        <span>@Model.Detail.StartTime - @Model.Detail.EndTime</span>
        <br>

        <label>Price</label>
        <span>@(Model.Price == 0.00m ? "Free" : "RM " + Model.Price)</span>
        <br>

        <label>Address</label>
        <span>@($"{Model.Address.Premise}, {Model.Address.Street}, {Model.Address.Postcode} {Model.Address.City}, {Model.Address.State}")</span>
        <br>

        <label>Category</label>
        <span>@Model.Category.Name</span>
        <br>

        <label>Description</label>
        <span>@Model.Detail.Description</span>
        <br>

        <label>Email</label>
        <span>@Model.Detail.ContactEmail</span>
        <br>

        <label style="margin-bottom: 10px;">Participants</label>
        <span class="create_event-participants">
            @{
                foreach (var t in Model.Tickets)
                {
                    <span>@i. @t.Buyer.Name (@t.Buyer.Email)</span>
                    <br />
                    i++;
                }
            }        

        </span>
        <br>
    </form>



    <button class="create_event-backBtn">Back</button>
    <button class="create_event-backBtn" data-get="/CreateEvent/UpdateEvent/@Model.Id">Update</button>
    <button class="btn-Delete" data-post="/CreateEvent/Delete/@Model.Id">Delete</button>


</div>

