<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/Logo/MyEvently.png" type="image/png">
        <!--Style-->
        <link rel="stylesheet" href="~/style/App.css">
        <link rel="stylesheet" href="~/style/Loader.css">
        <link rel="stylesheet" href="~/style/Sidebar.css">
        <link rel="stylesheet" href="~/style/Map.css">
        <link rel="stylesheet" href="~/style/pagination.css"/>
        <link rel="stylesheet" href="~/style/home.css" />
        <link rel="stylesheet" href="~/style/eventDetail.css" />
       

        <!-- jQuery -->
        <script src="~/scripts/jquery/jquery.min.js" defer></script>
        <script src="~/scripts/dayjs/dayjs.min.js" defer></script>
        <script src="~/scripts/jquery/jquery.unobtrusive-ajax.min.js" defer></script>
        <script src="~/scripts/jquery/jquery.validate.min.js" defer></script>
        <script src="~/scripts/jquery/jquery.validate.unobtrusive.min.js" defer></script>

        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="~/scripts/leaflet/leaflet.css" />
        <script src="~/scripts/leaflet/leaflet.js" defer></script>

        <!--App Scripts-->
        <script src="~/scripts/App.js" asp-append-version="true" type="module" defer></script>
        <!-- Remix Icon -->
        <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css" />

        <!--Font style-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        @RenderSection("head",false)
    </head>

<body style=" display:grid; grid-template-columns:80px 1fr;">

    <div class="sidebar-nav" style="
            width:100%; 
            background: linear-gradient(to bottom, #212020, #000000);
            display:flex; flex-direction:column; align-items:center;padding-top:10px;
                ">
        
        <button class="home-button">
            <i class="ri-home-2-fill home" data-ajax-page="/"></i>
        </button>
        <br />
        <button class="home-button" data-ajax-page="/create_event">
            <i class="ri-add-line"></i>
             
        </button>
        <br />
         <button class="home-button">
            <i class="ri-notification-line"></i>
        
        </button>
        <br />
        <button class="home-button" data-ajax-page="/Favourite/FollowedEvents">
            <i class="ri-poker-hearts-line"></i>
        </button>
        <br />
        <button class="home-button" data-ajax-page="/Favourite/FollowedEvents">
            <i class="ri-coupon-fill"></i>
        </button>

       
    </div>
        <div class="container"> 
        <!-------------------Navbar-------------------------->
            <header class="navbar">
                <div class="left-section">
                <div class="logo-container" style=" width:70px;">
                    <img style=" border-radius:50%; object-fit:cover; width:100%; height:100%;" src="~/images/Logo/MyEvently.png" />

                </div>
              
                    
               

                <form class="search-form" action="/Home/Search" method="GET">
                    <button type="submit" class="search-btn">
                        <i class="ri-search-line"></i>
                    </button>
                    <input class="search-bar" type="search" name="q" id="search" placeholder="What Do You Want To Find? " required>
                </form>
                


            </div>
            <div class="right-section">
                <button class="Sign-up-btn" data-ajax-page=/Account/RegisterSelect>Sign Up</button>
                <button class="Log-in-btn" data-ajax-page="/login">Log In</button>
               
                
            </div>
            </header>
            <!-------------------Navbar-------------------------->

           <!--------Content render section-------------------------->
            <div class="content">

               @RenderBody()

            </div>
        <!-------------------Content render section-------------------------->

        </div>
    @RenderSection("Scripts", required: false)
    @RenderSection("foot", false)
    </body>

</html>