@using MyEvent.Models
@model MyEvent.Models.DB.Event;

<style>
    .event-detail__img-container {
        width:100%;
        height:500px;
        border-radius:8px;
    }

    .home-detail {
       border:solid 1px white;
       border:8px;
        background-image: linear-gradient(to bottom right,rgb(172 174 173 / 47%), rgba(25,20,20,0.8)), url('@Model.ImageUrl');
        padding:0;
        background-size: cover;
        background-position: center;
        color: white;
        border-radius: 8px;
        margin-bottom:100px;
        margin-top: 20px;
    }
    .title-detail{
        font-size:50px;
        font-weight:bold;
    }
    .event-detail__img{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position: center;
        display: block;
        
    }

    .section-1{
       
    
    }
    .section-2{
       
        padding:20px;
        padding-left:40px;
        padding-right:40px;
        background: linear-gradient(171deg, #363434, #000000);
        column-gap:20px;
    }

    .container-ticket{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        padding-bottom:20px;
        border:solid 1px white;
        border-radius:8px;
        margin-top:40px;
        color:white;
       
    }

    .check-btn{
        font-size:18px;
        font-weight:bold;
        border:none;
        background-color:forestgreen;
        color:white;
        padding:20px;
        padding-bottom:10px;
        padding-top:10px;
        border-radius: 8px;
        cursor:pointer;
    }
    .price{
        font-size:20px;
        font-weight:bold;
    }
    .section-3{
        
    }

</style>
<main class="home-container">
  
    <div class="Main-view home-detail" style="max-width:100%; margin:0px;">
 
        <p class="title-detail" style=" margin:40px; margin-top:35px; margin-bottom:0px;">@Model.Title</p>
        <div style="display:flex; gap:10px; margin:40px; margin-top:20px; margin-bottom:25px;" >
            <button class="home-button" style="font-size:15px" data-ajax-page="/Home/Search?q=@Model.Category.Name">
                @Model.Category.Name
            </button>
            <button class="home-button" data-ajax-page="/Home/Search?q=@Model.Detail.Organizer" style="font-size:15px">
                @Model.Detail.Organizer
            </button>
            <button class="home-button" data-ajax-page="/Home/Search?q= @Model.Address.City" style="font-size:15px">
                @Model.Address.City
            </button>
            <button class="home-button" data-ajax-page="/Home/Search?q= @Model.Address.City" style="font-size:15px">
                @Model.Address.State
            </button>
        </div>

        

    
        <div class="section-2" style="height:100%">
            <div style=" display:grid;
        grid-template-columns:700px 1fr; gap:20px;">
                <div class="event-detail-image-container">
                    <img class="event-detail__img" src="@Model.ImageUrl" />
                </div>
                <div>
         
                    <h2>Date & Time</h2>
                    <p> @Model.Detail.Date.ToString("MMMM dd, yyyy")</p>
                    <h2>Location</h2>
                    <p>@Model.Address.City, @Model.Address.Street</p>
                    
                 

                  
                </div>
            </div>
            <h2>About This Event</h2>
            <p>
                 @Model.Detail?.Description
              </p>
            <div style=" 
                    position:absolute; left:100px; right:20px; bottom:0; height:50px;    background: linear-gradient(4deg, #ba0e0e, #95959524);
                    display:flex; justify-content:space-between;align-items:center;gap:10px; padding:20px;
                    ">
                <div style="display:flex; flex-direction:column; ">
                    <p style="margin:0;"> @Model.Detail.Date.ToString("MMMM dd, yyyy")</p>
                    <p class="title-detail" style="font-size:20px; margin:0;">@Model.Title</p>
                </div>
                
                <div style="display:flex; gap:20px;">
                    <p>Only RM70</p>
                    <button class="home-button" style="font-size:15px; padding: 10px 30px; background:white; color:black;">
                       Join
                    </button>
                    <button class="home-button"  style="font-size:15px; padding: 10px 30px; background:red; ">
                        Follow
                    </button>
                </div>
            </div>
            
        </div>
       
    </div>


</main>
@section Scripts {
    <script type="module">
        import { init as DetailInit } from '/scripts/DetailScripts/Controller.js';
       
        DetailInit();

    </script>
}