@using MyEvent.Models
@model MyEvent.Models.DB.Event;

<style>
    .event-detail__img-container {
        width:auto;
        height:500px;
        border-radius:8px;
    }

    .home-detail {
       border:solid 1px white;
       border:8px;
        background-image: linear-gradient(to bottom right,rgb(29 185 84 / 9%), rgba(25,20,20,0.8)), url('@Model.ImageUrl');
        padding:0;
        background-size: cover;
        background-position: center;
        color: white;
        border-radius: 8px;
        margin-bottom:100px;
    }
    .title-detail{
        font-size:50px;
        font-weight:bold;
    }
    .event-detail__img-container img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .section-1{
       
        padding:40px;
    }
    .section-2{
        display:grid;
        grid-template-columns:1fr 300px;
        padding-left:40px;
        padding-right:40px;
        background: linear-gradient(4deg, black, #0000007a);
    }

    .container-ticket{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        padding-bottom:20px;
        border:solid 1px white;
        border-radius:8px;
        margin-top:40px;
        color:white;
       
    }

    .check-btn{
        font-size:18px;
        font-weight:bold;
        border:none;
        background-color:forestgreen;
        color:white;
        padding:20px;
        padding-bottom:10px;
        padding-top:10px;
        border-radius: 8px;
        cursor:pointer;
    }
    .price{
        font-size:20px;
        font-weight:bold;
    }
    .section-3{
        
    }

</style>
<main class="home-container">

    <div class="Main-view home-detail">
        <div class="breadCrump"></div>
        <div class="section-1">
            <div class="event-detail event-detail__img-container">
              
            </div>
        </div>
        <div class="section-2">
            <div>
                <p class="title-detail">@Model.Title</p>
                <h2>Date & Time</h2>
                <p> @Model.Detail.Date.ToString("MMMM dd, yyyy")</p>
                <h2>Location</h2>
                <p>@Model.Address.City, @Model.Address.Street</p>
                <h2>About This Event</h2>
                <p> @Model.Detail?.Description

             
            </div>
            <div class="section-3">
                <div class="container-ticket">
                    <p class="price">From RM10</p>
                    <button class="check-btn">Check Availablity</button>
                </div>
            </div>
        </div>
    </div>


</main>
@section Scripts {
    <script type="module">
        import { init as DetailInit } from '/scripts/DetailScripts/Controller.js';

        DetailInit();

    </script>
}